<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>

<body>
    <header>
        <a href="{% url 'todo_list_list' %}">Todo Lists Home</a>
    </header>
    <main>
        <div>
            <h1>{{ todo_detailed.name }}</h1>
            <p>
                <a href="{% url 'update_list' todo_detailed.id %}">Edit this List</a>
            </p>
            <p>
                <a href="{% url 'delete_list' todo_detailed.id %}">Delete this List</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_detailed.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'edit_item' item.id %}">{{ item.task }}</a>
                        </td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
